<div>
    <p>Title: <%= @movie["title"] %></p>
    <p>Description: <%= @movie["description"] %></p>
    <p>Year: <%= @movie["year"] %></p>
    <p>Genre: <%= @movie["genre"] %> </p>
    <p> Director: <%= @movie["director"] %> </p>
<div>